@charset "utf-8";

/*
   Follow Me!
   C430 Final
   
   Ryan Timmons
   
   Filename: follow_me.css

*/

#left {
	float: left;
	padding-bottom: 35px;
	width: 40%;
}

#right {
	float: left;
	padding-bottom: 35px;
	width: 60%;
}

footer {
   clear: left;
   margin-top: 25px;
   text-align: center;
}
